<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">Admin</div>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/user/admin/view-post">
          <i class="fas fa-pencil-alt"></i>
          <span class="links_name">Post</span>
        </a>
        <span class="tooltip">View Post</span>
      </li>
      <li>
        <a href="/user/admin/schedule/?tab=court-reservation">
          <i class="fas fa-th-large"></i>
          <span class="links_name">Court Schedule</span>
        </a>
        <span class="tooltip">Court Schedule</span>
      </li>
      <li>
        <a href="/user/admin/user-payments">
          <i class="fas fa-wallet"></i>
          <span class="links_name">User Payments</span>
        </a>
        <span class="tooltip">User Payments</span>
      </li>
      <li>
        <a href="/user/admin/events-and-tournaments">
          <i class="fas fa-trophy"></i>
          <span class="links_name">Events & Tournaments</span>
        </a>
        <span class="tooltip">Events & Tournaments</span>
      </li>
      <li>
        <a href="/user/admin/adminviewmembership">
          <i class="fas fa-users"></i>
          <span class="links_name">Membership</span>
        </a>
        <span class="tooltip">Membership</span>
      </li>
      <li>
        <a href="/user/admin/products">
          <i class="fas fa-shopping-cart"></i>
          <span class="links_name">Products</span>
        </a>
        <span class="tooltip">Products</span>
      </li>
      <li>
        <a href="/user/admin/settings">
          <i class="fas fa-cogs"></i>
          <span class="links_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <img id="profile-img" src="/assets/images/logo.png" alt="profile_pic" />
          <div class="name_job">
            <div id="profile-name" class="name"></div>
            <div id="profile-role" class="job"></div>
          </div>
        </div>
        <i class="bx bx-log-out" id="logoutBtn"></i>
      </li>
    </ul>
  </div>
</body>
