<body>
  <div class="main-content">
    <h1>Checkout</h1>
    <div class="container">
      <div class="box2">
        <div class="cart-container">
          <!-- Summary Section -->
          <div class="summary-section">
            <h4></h4>

            <div>
              <p class="small-text">Please select the date for item pickup.</p>
            </div>

            <div class="date-container">
              <label for="reservation-date">Reservation Date:</label>
              <input type="date" id="reservation-date" name="reservation-date" />
            </div>

            <div class="cart-summary">
              <!-- Cart items will be populated here -->
            </div>

            <div class="cart-summary">
              <div>
                <p>Total Price:</p>
                <p class="total-price">&#8369;0.00</p>
              </div>
              <hr />
              <div>
                <p>Reservation Fee (10%):</p>
                <p class="reservation-fee">&#8369;0.00</p>
              </div>
              <div>
                <p class="small-text">This amount will be deducted from the total price.</p>
              </div>
            </div>
            <div class="checkout">
              <button>Reserve Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
