<body>
  <div class="main-content">
    <h1>My Orders</h1>
    <div class="box">
      <table id="orderTable">
        <thead>
          <tr>
            <th>Court Name</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Pickup Date</th>
            <th>Reservation Fee</th>
            <th>Total Payment</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <!-- Dynamic rows will be inserted here by JavaScript -->
        </tbody>
      </table>
    </div>
  </div>
</body>
