<body>
  <div class="main-content">
    <h1>What would you like to do?</h1>
    <div class="icon-grid">
      <div class="icon-item">
        <a href="/user/reserve/court-list">
          <i class="fas fa-calendar-alt"></i>
          <p>Court Reservation</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="/user/reserve/map-view">
          <i class="fas fa-map-marker-alt"></i>
          <p>View Court Map</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="/user/announcements?tab=my-feed">
          <i class="fas fa-bullhorn"></i>
          <p>Announcements</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="/user/community">
          <i class="fas fa-building"></i>
          <p>Community</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="/user/memberships">
          <i class="fas fa-id-badge"></i>
          <p>Membership</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="/user/products">
          <i class="fas fa-shopping-cart"></i>
          <p>Browse Products</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="/user/edit-profile">
          <i class="fas fa-user-edit"></i>
          <p>Edit User Profile</p>
        </a>
      </div>
    </div>
  </div>
</body>
