<body>
  <section class="home-section">
    <h1 id="event-title">Event Name Here</h1>
    <div class="box">
      <div class="filter-container">
        <div class="filter-left">
          <p>
            Total Number of Participants:
            <strong id="total-participants">0</strong>
          </p>
        </div>

        <div class="filter-actions">
          <label for="search">Search:</label>
          <input type="text" id="search" class="search-field" placeholder="Search by name..." />

          <a href="/user/admin/user-payments/?tab=event-and-tournaments" class="filter-button">
            View Payment
            <i class="fas fa-credit-card"></i>
          </a>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Age</th>
            <th>Municipality</th>
          </tr>
        </thead>
        <tbody id="participants-table-body"></tbody>
      </table>
    </div>
  </section>
</body>
